* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden;
  width: 100vw;
}

body p,
a {
  font-family: 'Inter', sans-serif;
}

 video {
  width: 100vw !important;
  height: 100vh !important;
  object-fit:fill;
  display: block;
}

@media (screen) {
  
}


@media (min-width:758px) {
  .ww {
    line-height: 4rem !important;
  }
}

.s3 {

  min-height: 50vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(135deg, #D5A950 0%, #FBE687 50%, #FBDB77 100%);
}

.card {
  border-top-right-radius: 75px;

}

.c2 {
  border-bottom-left-radius: 75px;
  overflow: hidden;
}

.s4 {
  background-image: url(./images/s4BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.s4 .overLay {
  background: linear-gradient(to bottom, #0A2162 0.9%, #00000066 80%);
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

.blurD {
  background-image: url(./images/bgCloud.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* Background animation */
@keyframes diagonalGradientMove {
  0% {
    background-position: bottom left;
  }

  100% {
    background-position: top right;
  }
}



/* Background Keyframe */




@keyframes iconFade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.icon-animate {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.group:hover .icon-animate {
  animation: iconFade 0.4s ease forwards;
}

.icn:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}


@keyframes diagonalGradientMove {
  0% {
    background-position: bottom left;

    background-image: linear-gradient(to top right, #FAD872, #FCF29A, #E4C56D);

  }

  100% {
    background-position: top right;
    background-image: linear-gradient(to top right, #fb923c, #fb923c, #f97316);
  }
}

.btn-animated {
  background: linear-gradient(45deg, #FAD872, #FCF29A, #E4C56D);
  background-size: 400% 400%;
  background-position: 0% 0%;
  transition: background-position 1s ease;
}

.btn-animated:hover {
  background-position: 100% 100%;
}